.my-input {
  background-color: #fff;
  border: none;
  outline: none;
  padding: 8px 10px;
  font-size: 1rem;
  box-sizing: border-box;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  width: 200px;
}

.my-input:focus {
  border: 3px solid #97bdff;
  box-shadow: 0 0 2px 1px var(--primary);
}

.my-input-expand {
  width: 100%;
  display: block;
}
